# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/

# Data / models
ml/model.pkl
ml/__pycache__/

# VSCode
.vscode/

# macOS
.DS_Store

# Virtual environments
.venv/
.venv-1/
env/

# Python cache
__pycache__/
*.pyc

# Models
ml/model.pkl

# System files
.DS_Store
Thumbs.db
